<div>
  <h2 class="text-center"><%= @user.first_name %> is a member of the following libraries:</h2>
</div>
<hr>
<div class="row">
  <div class="col-md-2 col-xs-1">

  </div>
  <div class="col-md-8 col-xs-10">
    <% @libraries.each do |lib| %>
    <p><%= link_to "#{lib.name}", library_path(lib) %></p>
    <% end %>
  </div>

  <div class="col-md-2 col-xs-1">

  </div>
</div>

<% console %>
